Babel
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
click
colorama
cssselect2
defusedxml
ghp-import
idna
Jinja2
Markdown
MarkupSafe
mergedeep
mkdocs
mkdocs-glightbox
mkdocs-material
mkdocs-material-extensions
mkdocs-social-plugin
packaging
paginate
pathspec
pillow
platformdirs
pycparser
Pygments
pymdown-extensions
python-dateutil
PyYAML
pyyaml_env_tag
regex
requests
six
tinycss2
urllib3
watchdog
webencodings
